<div class="row">
  <section class="col-md-4 col-md-offset-4">
    <h2>Uredi tretman</h2>

    <%= form_with(model: @treatment, local: true, html: { autocomplete: "off" }, id: "edit-treatment") do |f| %>
        
      <%= f.label :date, "Datum" %>
      <%= f.date_field :date, class: 'form-control' %>

      <%= f.label :description, "Opis" %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.submit "Spremi", class: "btn btn-primary" %>
      
    <% end %>
  <section>
</div>