<div class="row">

</div>

<div class="row">
  <aside class="col-md-4">
    <section class="client">
      <div class="client-num">
          <%= "Rb: #{ @client.id }" %>
      </div>
      <div class="client-info">
        <h3>Ime i prezime</h3>
        <p class="client-name"><%= "#{ @client.first_name } #{ @client.last_name }" %></p>
        <% if @client.phone_num.present? %>
          <h3>Kontakt</h3>
          <p><%= "#{ @client.phone_num }" %></p>
        <% end %>
        <% if @client.comment.present? %>
          <h3>Komentar</h3>
          <p class="newline-able"><%= @client.comment %></p>
        <% end %>
        <%= link_to "uredi klijenta", edit_client_path(@client), class: "btn btn-primary edit-client-btn" %>
      </div>
    </section>
    <section id="new-treatment">
      <h2>Novi tretman</h2>
      <%= form_with(model: @treatment, local: true, html: { autocomplete: "off" }, id: "add-treatment") do |f| %>

        <div><%= hidden_field_tag :id, @client.id %></div>
        
        <%= f.label :date, "Datum" %>
        <%= f.date_field :date, class: 'form-control' %>

        <%= f.label :description, "Opis" %>
        <%= f.text_field :description, class: 'form-control' %>

        <%= f.submit "Dodaj", class: "btn btn-primary" %>
        
      <% end %>
    </section>
  </aside>

  <div class="col-md-8">
    <ol class="treatments">
      <% if @client.treatments.any? %>
        <%= render @treatments %>
      <% end %>
    </ol>
  </div>
</div>