<div class="row">

</div>

<div class="row">
  <aside class="col-md-4">
    <section class="client">
      <div class="client-num">
          <%= "#{ @client.id }" %>
      </div>
      <div class="client-info">
        <h3>Ime i prezime</h3>
        <p><%= "#{ @client.first_name } #{ @client.last_name }" %></p>
        <h3>Kontakt</h3>
        <p><%= "#{ @client.phone_num }" %></p>
        <h3>Komentar</h3>
        <p><%= simple_format(@client.comment) %></p>
        <%= link_to "uredi", edit_client_path(@client) %>
      </div>
    </section>
    <section>
      <h2>Novi tretman</h2>
      <%= form_with(model: @treatment, local: true) do |f| %>

        <div><%= hidden_field_tag :id, @client.id %></div>
        
        <%= f.label :date, "Datum" %>
        <%= f.date_field :date, class: 'form-control' %>
        <%#= f.date_select :date, use_month_numbers: true, order: [:day, :month, :year], class: 'form-control' %>

        <%= f.label :description, "Opis" %>
        <%= f.text_field :description, class: 'form-control' %>

        <%= f.submit "Dodaj", class: "btn btn-primary" %>
        
      <% end %>
    </section>
  </aside>

  <div class="col-md-8">
    <ol class="treatments">
      <% if @client.treatments.any? %>
        <%= render @treatments %>
      <% end %>
    </ol>
  </div>
</div>